.checkout-quantity-section-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .quantity {
    margin-left: 10px;
    margin-right: 10px;
  }
}
