.checkout-item-container {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .item-container {
    width: 100%;
    display: flex;
    align-items: center;

    img {
      width: 23%; /* Adjust this value as needed */
      height: auto; /* Maintain aspect ratio */
      margin-right: 15px; /* Add spacing between image and text */
    }

    .name,
    .quantity,
    .price {
      width: 23%;
    }

    .quantity {
      display: flex;
      align-items: center;

      .arrow {
        cursor: pointer;
        font-size: 25px;
      }

      .value {
        margin: 0 12px;
      }
    }

    .remove-button {
      padding-left: 12px;
      cursor: pointer;
    }
  }
}
